<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Find your match</h1>
        <p class="lead">Come on in to view your matches... all you need to do it sign up!</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
            <button class="btn btn-info btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                <!-- To pass property down to a child component, use [] brackets
                    'users' is the property that is inside our Home Component -->
                <!-- To pass property up to parent component, use () brackets -->
                <!-- The 4 things needed to pass property to parent class from child class:
                        @Output,
                        EventEmitter() in child class, 
                        method of what you will be emitting (emit())
                        and the use of () brackets to pass property up to parent class -->
                <!-- <app-register 
                    [usersFromHomeComponent]="users" 
                    (cancelRegister)="cancelRegisterMode($event)">
                </app-register> -->
            </div>
        </div>
    </div>
</div>